<div class="col-md-2 bg-white" style="height:700px;">

    <ul class="list-unstyled ul-left-menu">
       
        <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Category"> Danh mục sản phẩm </a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Product"> Sản phẩm</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Orders"> Đơn hàng</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Post"> Bài viết</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Topic"> Chủ đề</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/User"> Quản trị người dùng</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Contact"> Liên hệ</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Slider"> Slider</a></li>

    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }
</style>

