
<section class="clearfix header ">
    <div class=" ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <a class="navbar-brand" href="#">MENU</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="pl-3 nav-link" href="~/Admin"> Trang chủ</a>
                    </li>
                    
                </ul>
            </div>
         
            <ul class="navbar-nav mr-auto ">
               
                <li class="nav-item form-inline text-light">

                    <a class="nav-link  active btn btn-outline-danger  " href="~/Admin/logout"> Đăng xuất</a>

                </li>
            </ul>
        </nav>
    </div>
    </section>