
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<link href="https://cdn-dhjke.nitrocdn.com/RyMhjbHpKwDEDTuxeyxsyvtfIwRsUMsL/assets/static/optimized/combinedCss/nitro-min-noimport-096c18a254616004bd03077301a019c8.11b59963cd4c102693f9c2fc4345752e-stylesheet.css" rel="stylesheet" />
<style>
    .footer-1, .footer-2 {
        background-color: rgba(100,183,224,.88);
    }
</style>
<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <div class="row row-large" style="max-width:1400px" id="row-263131454">
                        <div id="col-847088286" class="col small-12 large-12">
                            <div class="col-inner" style="background-color:rgb(255, 255, 255);">
                                <div class="banner has-hover" id="banner-1102837826">
                                    <div class="banner-inner fill">
                                        <div class="banner-bg fill">
                                            <div class="bg fill bg-fill "></div>
                                        </div>
                                        <div class="banner-layers container">
                                            <div class="fill banner-link"></div>
                                        </div>
                                    </div>
                                    <style>
                                        #banner-1102837826 {
                                            padding-top: 50%;
                                        }

                                            #banner-1102837826 .bg.bg-loaded {
                                                background-image: url(../wp-content/uploads/2021/09/banner-nhom.jpg);
                                            }
                                    </style>
                                </div>
                                <div class="text-center"><div class="is-divider divider clearfix" style="max-width:0px;"></div></div>
                                <div class="row row-collapse row-full-width" id="row-193795625">
                                    <div id="col-1258053747" class="col medium-12 small-12 large-6">
                                        <div class="col-inner">
                                            <div id="text-1894676716" class="text">
                                                <div id="toc_container" class="no_bullets"><p class="toc_title">Mục lục</p><ul class="toc_list"><li><a href="#thong-tin-ve-dilys-pet-shop"><span class="toc_number toc_depth_1">1</span> Thông tin về Dilys Pet Shop :</a><ul><li><a href="#dia-chi"><span class="toc_number toc_depth_2">1.1</span> Địa chỉ</a></li><li><a href="#thoi-gian-lam-viec"><span class="toc_number toc_depth_2">1.2</span> Thời gian làm việc</a></li><li><a href="#email"><span class="toc_number toc_depth_2">1.3</span> Email</a></li><li><a href="#phone"><span class="toc_number toc_depth_2">1.4</span> phone</a></li><li><a href="#neu-ban-co-bat-ky-thac-mac-gi-can-giai-dap-hay-dien-thong-tin-va-dat-cau-hoi-xuong-phan-chu-thich-dilys-pet-shop-se-co-gang-giai-dap-thac-mac-nhanh-nhat-than-ai"><span class="toc_number toc_depth_2">1.5</span> Nếu bạn có bất kỳ thắc mắc gì cần giải đáp, hãy điền thông tin và đặt câu hỏi xuống phần chú thích. Dilys Pet Shop sẽ cố gắng giải đáp thắc mắc nhanh nhất. Thân ái !</a></li></ul></li></ul></div>
                                                <h2><span id="thong-tin-ve-dilys-pet-shop"><strong><em>Thông tin về Dilys Pet Shop :</em></strong></span></h2>
                                                <style>
                                                    #text-1894676716 {
                                                        color: rgb(1, 1, 1);
                                                    }

                                                        #text-1894676716 > * {
                                                            color: rgb(1, 1, 1);
                                                        }
                                                </style>
                                            </div>
                                            <div id="gap-80671311" class="gap-element clearfix" style="display:block; height:auto;">
                                                <style>
                                                    #gap-80671311 {
                                                        padding-top: 20px;
                                                    }

                                                    @@media (min-width:550px) {
                                                        #gap-80671311 {
                                                            padding-top: 20px;
                                                        }
                                                    }

                                                    @@media (min-width:850px) {
                                                        #gap-80671311 {
                                                            padding-top: 30px;
                                                        }
                                                    }
                                                </style>
                                            </div>
                                            <div class="row" id="row-2085669843">
                                                <div id="col-1724900926" class="col medium-6 small-12 large-6">
                                                    <div class="col-inner">
                                                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1759887101">
                                                            <div class="img-inner dark">
                                                                <img width="240" height="240" src="../wp-content/uploads/2021/09/map-pin-2-fill-2.png" class="attachment-large size-large" alt="map pin 2 fill 2" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/map-pin-2-fill-2.png 240w, https://dilyspetshop.com/wp-content/uploads/2021/09/map-pin-2-fill-2-100x100.png 100w" sizes="(max-width: 240px) 100vw, 240px" title="Liên hệ 1">
                                                            </div>

                                                            <style>
                                                                #image_1759887101 {
                                                                    width: 15%;
                                                                }

                                                                @@media (min-width:550px) {
                                                                    #image_1759887101 {
                                                                        width: 20%;
                                                                    }
                                                                }
                                                            </style>
                                                        </div>


                                                        <h3><span id="dia-chi">Địa chỉ</span></h3>
                                                        <p>Khu 7, Thường Lệ, Xã Đại Thịnh, Huyện Mê Linh, Hà Nội</p>

                                                    </div>
                                                </div>
                                                <div id="col-820400903" class="col medium-5 small-12 large-6">
                                                    <div class="col-inner">
                                                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1719308061">
                                                            <div class="img-inner dark">
                                                                <img width="240" height="240" src="../wp-content/uploads/2021/09/time-fill.png" class="attachment-large size-large" alt="time fill" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/time-fill.png 240w, https://dilyspetshop.com/wp-content/uploads/2021/09/time-fill-100x100.png 100w" sizes="(max-width: 240px) 100vw, 240px" title="Liên hệ 2">
                                                            </div>

                                                            <style>
                                                                #image_1719308061 {
                                                                    width: 15%;
                                                                }

                                                                @@media (min-width:550px) {
                                                                    #image_1719308061 {
                                                                        width: 20%;
                                                                    }
                                                                }
                                                            </style>
                                                        </div>
                                                        <h3><span id="thoi-gian-lam-viec">Thời gian làm việc</span></h3>
                                                        <p>Từ thứ 2 đến thứ 7:<br>Ca sáng : 8h30 &#8211; 11h30<br>Ca chiều : 13h30 &#8211; 17h30</p>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row" id="row-578206554">
                                                <div id="col-1566610371" class="col medium-6 small-12 large-6">
                                                    <div class="col-inner">
                                                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1788568228">
                                                            <div class="img-inner dark">
                                                                <img width="240" height="240" src="../wp-content/uploads/2021/09/mail-open-fill.png" class="attachment-large size-large" alt="mail open fill" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/mail-open-fill.png 240w, https://dilyspetshop.com/wp-content/uploads/2021/09/mail-open-fill-100x100.png 100w" sizes="(max-width: 240px) 100vw, 240px" title="Liên hệ 3">
                                                            </div>

                                                            <style>
                                                                #image_1788568228 {
                                                                    width: 15%;
                                                                }

                                                                @@media (min-width:550px) {
                                                                    #image_1788568228 {
                                                                        width: 20%;
                                                                    }
                                                                }
                                                            </style>
                                                        </div>
                                                        <h3><span id="email">Email</span></h3>
                                                        <p>Dilyspetshop@gmail.com</p>
                                                    </div>
                                                </div>
                                                <div id="col-603338446" class="col medium-6 small-12 large-6">
                                                    <div class="col-inner">
                                                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_348591830">
                                                            <div class="img-inner dark">
                                                                <img width="240" height="240" src="../wp-content/uploads/2021/09/phone-fill.png" class="attachment-large size-large" alt="phone fill" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/phone-fill.png 240w, https://dilyspetshop.com/wp-content/uploads/2021/09/phone-fill-100x100.png 100w" sizes="(max-width: 240px) 100vw, 240px" title="Liên hệ 4">
                                                            </div>
                                                            <style>
                                                                #image_348591830 {
                                                                    width: 15%;
                                                                }

                                                                @@media (min-width:550px) {
                                                                    #image_348591830 {
                                                                        width: 20%;
                                                                    }
                                                                }
                                                            </style>
                                                        </div>
                                                        <h3 class="uppercase"><span id="phone">phone</span></h3>
                                                        <p>0868180702</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <style>
                                            #col-1258053747 > .col-inner {
                                                padding: 0px 0px 0px 20px;
                                            }
                                        </style>
                                    </div>
                                    <div id="col-2145343438" class="col medium-12 small-12 large-6">
                                        <div class="col-inner">
                                            <div id="text-261566058" class="text">
                                                <h3><span id="neu-ban-co-bat-ky-thac-mac-gi-can-giai-dap-hay-dien-thong-tin-va-dat-cau-hoi-xuong-phan-chu-thich-dilys-pet-shop-se-co-gang-giai-dap-thac-mac-nhanh-nhat-than-ai">Nếu bạn có bất kỳ thắc mắc gì cần giải đáp, hãy điền thông tin và đặt câu hỏi xuống phần chú thích. Dilys Pet Shop sẽ cố gắng giải đáp thắc mắc nhanh nhất. Thân ái !</span></h3>
                                                <style>
                                                    #text-261566058 {
                                                        font-size: 1rem;
                                                        line-height: 1.75;
                                                        text-align: left;
                                                        color: rgb(0,0,0);
                                                    }

                                                        #text-261566058 > * {
                                                            color: rgb(0,0,0);
                                                        }
                                                </style>
                                            </div>
                                            <div id="gap-908917504" class="gap-element clearfix" style="display:block; height:auto;">
                                                <style>
                                                    #gap-908917504 {
                                                        padding-top: 20px;
                                                    }

                                                    @@media (min-width:550px) {
                                                        #gap-908917504 {
                                                            padding-top: 20px;
                                                        }
                                                    }

                                                    @@media (min-width:850px) {
                                                        #gap-908917504 {
                                                            padding-top: 30px;
                                                        }
                                                    }
                                                </style>
                                            </div>
                                            <div role="form" class="wpcf7" id="wpcf7-f279-p226-o1" lang="vi" dir="ltr">
                                                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                <form action="https://dilyspetshop.com/lien-he/#wpcf7-f279-p226-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                    <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="279" />
                                                        <input type="hidden" name="_wpcf7_version" value="5.4.2" />
                                                        <input type="hidden" name="_wpcf7_locale" value="vi" />
                                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f279-p226-o1" />
                                                        <input type="hidden" name="_wpcf7_container_post" value="226" />
                                                        <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                    </div>
                                                    <p>
                                                        <label>Họ và tên </label><br />
                                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </label>
                                                    </p>
                                                    <p>
                                                        <label>Email</label><br />
                                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span>
                                                    </p>
                                                    <p>
                                                        <label> Số điện thoại </label><br />
                                                        <span class="wpcf7-form-control-wrap tel-270E"><input type="tel" name="tel-270E" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" /></span>
                                                    </p>
                                                    <p>
                                                        <label>Chú thích</label><br />
                                                        <span class="wpcf7-form-control-wrap textarea-443"><textarea name="textarea-443" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span><br />
                                                        <input type="submit" value="Gửi" class="wpcf7-form-control wpcf7-submit" />
                                                    </p>
                                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <style>
                                        #row-193795625 > .col > .col-inner {
                                            padding: 0px 15px 0px 15px;
                                        }
                                    </style>
                                </div>
                            </div>
                            <style>
                                #col-847088286 > .col-inner {
                                    padding: 50px 20px 0px 20px;
                                    margin: -0 0px 0px 0px;
                                }

                                @@media (min-width:550px) {
                                    #col-847088286 > .col-inner {
                                        padding: 50px 20px 30px 20px;
                                        margin: 0 0px 0px 0px;
                                    }
                                }

                                @@media (min-width:850px) {
                                    #col-847088286 > .col-inner {
                                        padding: 66px 5% 16px 5%;
                                        margin: -135px 0px 0px 0px;
                                    }
                                }
                            </style>
                        </div>

                    </div>
                    <div class="row row-collapse row-full-width" id="row-505597643">
                    </div>
                    <center>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.9672444671527!2d105.74678742917742!3d21.0379278991246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134555c50c4c1f3%3A0x6daf5e96faf03903!2zcGjhu5EgdHLhu4tuaCB2xINuIGLDtA!5e0!3m2!1sen!2s!4v1632425355175!5m2!1sen!2s" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></centet>
                        <p></p>
                        <div class="aiosrs-rating-wrap" data-schema-id="1111">
                            <div class="aiosrs-star-rating-wrap ">
                                <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="1"></span>
                                <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="2"></span>
                                <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="3"></span>
                                <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="4"></span>
                                <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="5"></span>
                            </div>
                            <div class="aiosrs-rating-summary-wrap">
                                <span class="aiosrs-rating">
                                    5/5
                                </span>
                                <span class="aiosrs-rating-count">
                                    (2 Reviews)
                                </span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>
