<footer class="footer-area pt-100 " style="background-color: rgba(100,183,224,.88); color: white;">
    <div class="container" style="
    margin: -52px 0px 0px 41px;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="copyright ">
                    <div class=" text-center pb-20">
                        <h3 class="font-weight-bold" style="display:none;">VỀ DILYS PET</h3>
                        <a href="~/" class="logo-footer">
                            VỀ DILYS PET
                        </a>
                        <p class="text-center py-2" style="color: white; margin-top: 11px;">Sản phẩm chất lượng tốt</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <div class="footer-widget mb-30 text-center">
                    <div class="footer-title">
                        <h3 class="font-weight-bold" style="color:white">Về chúng tôi</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="~/gioi-thieu" style="color:white">Giới thiệu</a></li>
                            <li><a href="~/lien-he" style="color:white">Địa chỉ</a></li>
                            <li><a href="~/lien-he" style="color:white">Liên hệ</a></li>
                            <li><a href="#" style="color:white">Đặt hàng </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="footer-widget mb-30  text-center">
                    <div class="footer-title">
                        <h3 class="font-weight-bold" style="color:white">Theo dõi chúng tôi</h3>
                    </div>
                    <div class="footer-list">
                        <ul style="color:white">
                            <li><a style="color:white" href="https://www.facebook.com/huongSeller2"><i class=" fab fa-facebook-square"></i> Facebook</a></li>
                            <li><a style="color:white" href="https://www.instagram.com/seller.5theway"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                            <li><a style="color:white" href="https://www.instagram.com/seller.5theway"><i class="fab fa-instagram-square"></i> Instagram</a></li>
                            <li><a style="color:white" href="https://www.instagram.com/seller.5theway"><i class="fab fa-youtube"></i> Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-75 text-center">
                    <iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fseller.5theway&tabs=timeline&width=340&height=500&small_
                            header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=441108070150385" width="340" height="300" frameborder="0" 
                            scrolling="no" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

</footer>
<div class=" col-lg-12 col-md-6 col-sm-6 container-fluid bg-secondary text-center">
    <p class="text-white" >
        © 2021 <span class="text-white font-weight-bold">VỀ DILYS PET</span>.
       Đã đăng ký bản C
    </p>
</div>