<header class="header-area clearfix">
    <div  >
        <marquee>Miễn phí giao hàng với đơn hàng trên  2.000.000 VNĐ   |   Liên hệ 035-726-6341  </marquee>

    </div>
@Html.Action("_mainmenu","Modules")
</header>