
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}

<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <p style="text-align: center;"><span style="font-size: 150%;"><strong><b>Giới thiệu thương hiệu Dilyspet shop – Vừa ý Boss, trọn ý Sen</b></strong></span></p>
                    <p><em><i>Với cuộc sống đầy rẫy những sự xô bồ, ganh đua mệt mỏi. Thì thú cưng chính là một trong số những yếu tố có thể giúp cho cuộc sống của bạn trở nên thoải mái hơn, yêu đời hơn. Nhiều người đã nói rằng họ nuôi thú cưng để giảm bớt stress cũng như nỗi cô đơn mỗi khi ở một mình. Sau mỗi ngày làm việc căng thẳng, thì việc có một chú thú cưng đáng yêu thật sự sẽ rất có ích cho bạn. Trong đó, những chú nhó nhanh nhảu và những bé mèo dễ thương hiện đang đứng top những loài động vật được chọn làm thú cưng ở Việt Nam. Chó, mèo không chỉ đơn thuần là những thú cưng, vật nuôi khiến họ bớt nhàm chán mà trong cuộc sống ngày nay, chúng còn là những người bạn, người anh chị em, là một phần quan trọng trong gia đình. </i></em></p>
                    <p><em><i>Khi việc nuôi thú cưng ngày càng phát triển đồng nghĩa với việc có rất nhiều người nuôi chó mèo muốn tìm mua những loại đồ ăn chất lượng, đầy đủ dinh dưỡng và các phụ kiện xinh xắn, dễ thương cho các Boss của mình. Tuy nhiên các cửa hàng cung cấp dịch vụ này còn rất hạn chế ở Việt Nam. Nhận thức được điều này, thương hiệu Dilys Pet với mong muốn có thể cung cấp cho khách hàng những sản phẩm tuyệt vời nhất, phù hợp nhất và an toàn nhất dành cho những chú thú cưng đáng yêu của bạn. </i></em></p>
                    <p><em><i>Dilys Pet được thành lập vào ngày 13/9/2021, gồm 7 thành viên sáng lập nên bao gồm: Nguyễn Tuấn Anh, Cấn Thị Dung, Ngô Thúy Hồng, Vũ Thị Hương Lan, Trần Thị Thu Trang, Lương Thúy Hiền, Nguyễn Thị Thi. Dilys Pet Shop muốn đem lại một môi trường bán hàng lành mạnh, đảm bảo 100% hàng chính hãng chất lượng cao, đem lại cuộc sống cũng như sức khỏe cho Pet của bạn. </i></em></p>
                    <p><em><i>Với slogan: </i></em><strong><em><i>“Dilys Pet- Vừa ý Boss, trọn ý Sen” .</i></em></strong> Shop đảm bảo nói được làm được. <em><i>Dilys Pet luôn đảm bảo mọi an toàn về chất lượng sản phẩm cũng như độ dinh dưỡng trong đồ ăn làm cho Boss của bạn phải thỏa mãn. Dilys Pet là kho tàng các sản phẩm như: quần áo, đồ ăn, phụ kiện,đồ chơi, sữa tắm, chuồng, balo, đồ chơi, dinh dưỡng….</i></em></p>
                    <p><em><i> <img loading="lazy" class="aligncenter wp-image-944 size-medium" title="banner ảnh" src="../wp-content/uploads/2021/09/z2801324596495_2a1deb8c4c3ba6a86dd26b394ad7635d-800x384.jpg" alt="banner-anh" width="800" height="384" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/z2801324596495_2a1deb8c4c3ba6a86dd26b394ad7635d-800x384.jpg 800w, https://dilyspetshop.com/wp-content/uploads/2021/09/z2801324596495_2a1deb8c4c3ba6a86dd26b394ad7635d-1400x672.jpg 1400w, https://dilyspetshop.com/wp-content/uploads/2021/09/z2801324596495_2a1deb8c4c3ba6a86dd26b394ad7635d-768x369.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/09/z2801324596495_2a1deb8c4c3ba6a86dd26b394ad7635d-1536x737.jpg 1536w, https://dilyspetshop.com/wp-content/uploads/2021/09/z2801324596495_2a1deb8c4c3ba6a86dd26b394ad7635d-600x288.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/09/z2801324596495_2a1deb8c4c3ba6a86dd26b394ad7635d.jpg 1913w" sizes="(max-width: 800px) 100vw, 800px" /></i></em></p>
                    <p><em><i> </i></em></p>
                    <p><em><i>Dilys Pet – chuyên cung cấp các dịch vụ và sản phẩm dành cho thú cưng</i></em></p>
                    <p>Nếu bạn quan tâm và có nhu cầu tìm hiểu kỹ hơn về cửa hàng, hãy truy cập vào trang <a href="../index.html"><u>https://dilyspetshop.com/</u></a> để được hỗ trợ tư vấn chi tiết hơn.</p>
                    <div id="toc_container" class="no_bullets"><p class="toc_title">Mục lục</p><ul class="toc_list"><li><a href="#san-pham-phong-phu-da-dang"><span class="toc_number toc_depth_1">1</span> Sản phẩm phong phú đa dạng</a><ul><li><a href="#chuong-cho-cho-meo-bang-vai"><span class="toc_number toc_depth_2">1.1</span> Chuồng cho chó mèo bằng vải</a></li><li><a href="#do-an-va-cac-loai-snack"><span class="toc_number toc_depth_2">1.2</span> Đồ ăn và các loại snack</a></li><li><a href="#sua-tam-danh-cho-meo-cho"><span class="toc_number toc_depth_2">1.3</span> Sữa tắm dành cho mèo, chó</a></li><li><a href="#quan-ao-xinh-san-cho-boss"><span class="toc_number toc_depth_2">1.4</span> Quần áo xinh sắn cho Boss</a></li></ul></li></ul></div>
                    <h2><span id="san-pham-phong-phu-da-dang">Sản phẩm phong phú đa dạng</span></h2>
                    <p>Bạn có thể tìm thấy mọi vật dụng và phụ kiện cần thiết cho boss nhà mình tại đây. Các sản phẩm tại shop chó mèo Dilys Pet được thiết kế riêng độc đáo với đa dạng mẫu mã. Dưới đây là một vài sản phẩm tiêu biểu được nhiều người chọn mua nhất:</p>
                    <h3><span id="chuong-cho-cho-meo-bang-vai"><u>Chuồng cho chó mèo bằng vải</u></span></h3>
                    <p>Dilys Pet được đánh giá là shop cung cấp <a href="https://dogparadise.vn/collections/vong-co-day-dan-cho-cho" rel="noopener">chuồng cho chó</a> chất lượng với giá cả phải chăng nhất hiện nay.</p>
                    <ul>
                        <li>Với kích thước rộng rãi thú cưng của bạn sẽ có không gian nghỉ ngơi thoải mái nhất.</li>
                        <li>Màu sắc đẹp, trang nhã thì chiếc chuồng chó mèo bằng vải hình ngôi nhà.</li>
                        <li>Chuồng cho chó mèo có thể trở thành một vật trang trí nhà cho bạn.</li>
                        <li>Chất liệu vải cao cấp đảm bảo tính an toàn tuyệt đối khi thú cưng của bạn.</li>
                    </ul>
                    <p>Nếu bạn muốn xem thêm các mẫu mã chuồng tại <a href="../danh-muc-san-pham/chuong/index.html"><u>https://dilyspetshop.com/danh-muc-san-pham/chuong/</u></a></p>
                    <p><img loading="lazy" class="size-medium wp-image-622 aligncenter" src="../wp-content/uploads/2021/09/83e64f947605503a3e20ce9d880559f8-1.jpg_800x800Q100-1-578x400.jpg" alt="83e64f947605503a3e20ce9d880559f8 1.jpg 800x800Q100 1" width="578" height="400" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/83e64f947605503a3e20ce9d880559f8-1.jpg_800x800Q100-1-578x400.jpg 578w, https://dilyspetshop.com/wp-content/uploads/2021/09/83e64f947605503a3e20ce9d880559f8-1.jpg_800x800Q100-1-768x532.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/09/83e64f947605503a3e20ce9d880559f8-1.jpg_800x800Q100-1-600x416.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/09/83e64f947605503a3e20ce9d880559f8-1.jpg_800x800Q100-1.jpg 800w" sizes="(max-width: 578px) 100vw, 578px" title="Giới thiệu 1"></p>
                    <h3><span id="do-an-va-cac-loai-snack"><strong><em><u><b><i>Đồ ăn và các loại snack</i></b></u></em></strong></span></h3>
                    <p>Khi lựa chọn đồ ăn và snack cần phải mua ở các cửa hàng uy tín chất lượng. Bởi đồ ăn là thứ ảnh hưởng trực tiếp đến sức khỏe của thú cưng. Dilys Pet cam kết bày bán các loại đồ hộp, pate và thức ăn hạt tươi ngon chất lượng đến người tiêu dùng.</p>
                    <p>Tại đây, các loại thức ăn cho chó, mèo trước khi được đem bán trên thị trường đều được kiểm định và truy xuất nguồn gốc xuất xứ rõ ràng. Đảm bảo cung cấp đầy đủ dinh dưỡng cho cún cưng nhà bạn. Bạn có thể xem thêm các loại đồ ăn dinh dưỡng cho Boss tại: <a href="../danh-muc-san-pham/do-an-dinh-duong/index.html"><u>https://dilyspetshop.com/danh-muc-san-pham/do-an-dinh-duong/</u></a></p>
                    <p><img loading="lazy" class="size-medium wp-image-623 aligncenter" src="../wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1-400x400.jpg" alt="5dc26afbfd1b69d93e71e6ab414e32d7 800x800 1" width="400" height="400" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1-768x768.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1-600x600.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/09/5dc26afbfd1b69d93e71e6ab414e32d7-800x800-1.jpg 800w" sizes="(max-width: 400px) 100vw, 400px" title="Giới thiệu 2"></p>
                    <p><em><i>Đồ ăn đảm bảo an toàn thực phẩm cho thú cưng</i></em></p>
                    <p>Trên đây là một vài thông tin về các dịch vụ và sản phẩm của cửa hàng thú cưng Dilys Pet dành cho các bạn tham khảo. Chúc các “con sen” tìm được vật dụng ưng ý cho boss nhà mình.</p>
                    <h3><span id="sua-tam-danh-cho-meo-cho"><strong><em><u><b>Sữa tắm dành cho mèo, chó</b></u></em></strong></span></h3>
                    <p>Có rất nhiều hãng sữa tắm cho mèo nổi tiếng được bày bán tại thị trường Việt Nam như Lee &amp; Webster, Bio Lovely Pet, SOS, Joyce &amp; Dolls, Bio Derma, Trixie, Yu, Fay… Dilys Pet sẽ luôn cung cấp những loại sữa tắm chất lượng nhất đê có thể giúp cho khách hàng yên tâm hơn khi sử dụng cho các Boss.</p>
                    <p>&#8211; Các tiêu chí đánh giá chất lượng của sữa tắm cho mèo</p>
                    <p>Để nhận biết sữa tắm cho mèo của hãng nào tốt nhất, Shop sẽ căn cứ vào những tiêu chí dưới đây:</p>
                    <ul>
                        <li>Thành phần của sữa tắm cho mèo phải được chiết xuất hoàn toàn từ tự nhiên, không chứa hóa chất độc hại.</li>
                        <li>Độ PH dịu nhẹ, tốt nhất dao động trong khoảng 7-7.14, không gây kích ứng cho da mèo.</li>
                        <li>Có nhiều tác dụng và lợi ích với sức khỏe, làn da của mèo.</li>
                        <li>Mùi hương dễ chịu và lâu bền.</li>
                    </ul>
                    <p>Click vào đây nếu muốn xem các sản phẩm sữa tắm dành cho Boss: <a href="../danh-muc-san-pham/sua-tam/index.html"><u>https://dilyspetshop.com/danh-muc-san-pham/sua-tam/</u></a></p>
                    <p><em> <img loading="lazy" class="size-medium wp-image-624 aligncenter" src="../wp-content/uploads/2021/09/srrr-400x400.jpg" alt="srrr" width="400" height="400" srcset="https://dilyspetshop.com/wp-content/uploads/2021/09/srrr-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/09/srrr-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/09/srrr-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/09/srrr-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/09/srrr.jpg 600w" sizes="(max-width: 400px) 100vw, 400px" title="Giới thiệu 3"></em></p>
                    <p><em>Sữa tắm SOS danh cho chó mèo</em></p>
                    <h3><span id="quan-ao-xinh-san-cho-boss"><strong><em><u>Quần áo xinh sắn cho Boss</u></em></strong></span></h3>
                    <p>“Mặc quần áo cho chó ư? Thật nực cười! Tại sao mình cần cho Mic nhà mình mặc đồ khi nó có bộ lông ấm áp bảo vệ chứ?”. Vâng! Đó là một trong những câu trả lời phổ biến cho lí do ta có nên mặc đồ cho cún cưng nhà mình hay không. Nhiều người chủ cho rằng việc làm đó khá kì cục, ngớ ngẩn, họ chần chừ, phản đối việc mặc quần áo cho cún dù họ biết thú cưng mình nuôi ngày đêm rùng mình vì trời lạnh.</p>
                    <p>Thực tế là cún cưng nhà bạn có thể rất cần được trang bị quần áo ấm, giống như bạn cũng cần khoác lên vô số đồ khi ra ngoài đường vào trời lạnh vậy. Bài viết sau sẽ chỉ ra các lí do bạn nên mặc đồ cho cún, cách chọn trang phục và những lưu ý khi cún mặc đồ.</p>
                    <p>Vậy nên việc mặc đồ cho Boss của bạn cũng khá là quan trọng nên bạn nghĩ sao khi sắm cho Boss nhà bạn vài bộ quần áo để mặc?? Bạn có thể xem những mẫu quần áo siêu ngầu ở đây: <a href="../danh-muc-san-pham/quan-ao/index.html"><u>https://dilyspetshop.com/danh-muc-san-pham/quan-ao/</u></a></p>					<div class="aiosrs-rating-wrap" data-schema-id="1111">
                        <div class="aiosrs-star-rating-wrap ">
                            <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="1"></span>
                            <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="2"></span>
                            <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="3"></span>
                            <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="4"></span>
                            <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="5"></span>
                        </div>
                        <div class="aiosrs-rating-summary-wrap">
                            <span class="aiosrs-rating">
                                5/5
                            </span>
                            <span class="aiosrs-rating-count">
                                (1 Review)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


